---
import Book from '@/icons/Book.astro'
import Glass from '@/icons/Glass.astro'
import Play from '@/icons/Play.astro'
import Layout from '@/layouts/Layout.astro'
import { fetchMeaning, type SuccessResponse } from '@/service/fetchMeaning'
import { isFailureResponse } from '@/utils/isFailureResponse'

Astro.response.headers.set(
  'Cache-Control',
  `public, max-age=${60 * 10}, s-maxage=${60 * 60 * 24 * 30}`
)

const query = Astro.url.searchParams.get('query') || ''
let data: SuccessResponse[number] | null = null
let error: string | null = null

if (query) {
  try {
    const res = await fetchMeaning(query)
    data = res[0]
  } catch (e) {
    if (isFailureResponse(e)) {
      error = e.message
    } else {
      error = 'Something went wrong. Please try again later.'
    }
  }
}
---

<Layout title="Wordstock">
  <header>
    <nav>
      <a aria-label="Home" class="block w-fit" href="/">
        <Book aria-hidden="true" class="h-6 w-6" />
      </a>
      <!-- TODO: Add dark mode toggle -->
    </nav>
  </header>
  <main class="mt-4">
    <form>
      <div class="relative">
        <input
          class="border w-full text-sm rounded-lg py-2.5 px-4 bg-gray-100"
          id="query"
          name="query"
          placeholder="Enter a word"
          type="text"
          value={query}
        />
        <label for="query" class="sr-only">Enter a word</label>
        <button
          aria-label="search"
          class="h-4 w-4 absolute right-4 top-3"
          type="submit"
        >
          <Glass aria-hidden="true" />
        </button>
      </div>
    </form>

    {error ? <span>{error}</span> : null}
    {
      data ? (
        <>
          <div class="flex w-full justify-between items-start mt-8">
            <div>
              <h1>{query}</h1>
              <span>{data.phonetic}</span>
            </div>
            <div>
              <button
                aria-label="Play Sound"
                class="p-3 grid place-content-center bg-gray-100 rounded-full"
                type="button"
              >
                <Play aria-hidden="true" class="h-6 w-6" />
              </button>
              <audio
                hidden
                id="audio"
                src={data.phonetics.find((item) => item.audio)?.audio}
              />
            </div>
          </div>
        </>
      ) : null
    }
  </main>
</Layout>

<script>
  // Handle Audio Playback
  const audioEl = document.getElementById('audio') as HTMLAudioElement

  const playBtn = document.querySelector<HTMLButtonElement>(
    '[aria-label="Play Sound"]'
  )

  playBtn?.addEventListener('click', () => {
    audioEl?.play()
  })
</script>
