---
import Book from '../icons/Book.astro'
import Layout from '../layouts/Layout.astro'
import fetchMeaning, { type QueryResponse } from '../service/fetchMeaning'

const query = Astro.url.searchParams.get('query') || ''
let data: QueryResponse = []
if (query) {
  data = await fetchMeaning(query)
}
---

<Layout title="Wordstock">
  <header>
    <nav>
      <a aria-label="Home" href="/">
        <Book class="h-6 w-6" />
      </a>
      <!-- TODO: Add dark mode toggle -->
    </nav>
  </header>
  <main class="mt-4">
    <form>
      <input class="border w-full" id="query" name="query" type="text" />
    </form>
    {query ? <h1>{query}</h1> : null}
    <ul>
      {
        data.map((item, index) => (
          <li>
            {index + 1}. {item.word} - {item.phonetic}
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
