---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,!"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="max-w-screen-sm mx-auto py-4 px-4 md:py-8 font-lora dark:bg-black"
  >
    <slot />
  </body>
</html>

<script is:inline>
  const darkModeKey = 'isNocturnal'
  const theme = (() => {
    if (
      typeof localStorage !== 'undefined' &&
      localStorage.getItem(darkModeKey)
    ) {
      return localStorage.getItem(darkModeKey)
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
  window.localStorage.setItem(darkModeKey, theme)
</script>
